<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>New flight</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-inline row">
                                <label for="code" class="col-4 col-form-label">City</label> 
                                <div class="col-8">
                                    <input id="code" name="code" placeholder="City" class="form-control here" type="text">
                                    <button type="button" class="btn btn-outline-primary">Add</button>
                                </div>
                            </div>
                            <div class="form-inline row">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
