<div class="container">
    <h1>Edit Profile <input type="submit" class="btn btn-primary" style="float: right; margin-top: 0.5%;" *ngIf="friendsVisible" routerLink="/friends" value="Friends" ></h1>
    
  	<hr>
	<div class="row">
      <!-- left column -->
      <!-- <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar rounded-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control-file">
        </div>
      </div> -->
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info bg-info">
        
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" [formGroup]="userInfoForm" (ngSubmit)="changeUserInfo()"> 
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" class="form-control here" formControlName="firstName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" class="form-control here" formControlName="lastName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="email" class="form-control here" formControlName="email" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone:</label>
            <div class="col-lg-8">
              <input class="form-control" name="phoneNumber" type="text"  class="form-control here" formControlName="phoneNumber">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text"  class="form-control here" formControlName="city">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">New Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" class="form-control here" formControlName="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" class="form-control here" formControlName="passwordConfirm">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <!-- <input type="button" class="btn btn-lg btn-block" style="background-color: rgb(57, 230, 143);" value="Add Friends"> -->
              <input type="submit" class="btn btn-primary" style="float: left;" value="Save Changes" >
              <input type="reset" class="btn btn-danger" style="float: right;" value="Cancel" (click)="resetForm()">
            </div>
          </div>
        </form>
      </div>
      
  </div>
</div>
<hr>
