<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(210, 216, 245); height: 100px;">
    <span class="navbar-text mr-sm-5" style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(51, 51, 226)">{{company.name}}</span>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav text-center nav-fill w-100">
            <li class="nav-item active">
                <button type="button" class="btn btn-info" routerLink="/userInfo">User profile</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary ml-auto" routerLink="/companyInfo">Company info</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" (click)="newDestinationClicked()">Destinations</button>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="assets/images/logo1.png" class="rounded-circle ml-sm-2 mr-sm-2" height="90px" width="90px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav ml-auto text-center nav-fill w-100">
            <li class="nav-item">
                <div class="dropdown mr-sm-2">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flights</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" (click)="newFlightClicked()">Add flight</button>
                        <button class="dropdown-item" (click)="getAllFlights()">Flights</button>
                        <a class="dropdown-item" href="#">Quick reservations</a>
                        
                        <button class="dropdown-item" (click)="showBaggageInfo()">Baggage info</button>
                      </div>
                  </div>
            </li>
            <li class="nav-item">
                <div class="dropdown mr-sm-2">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Company rating</a>
                        <a class="dropdown-item" href="#">Flight ratings</a>
                        <a class="dropdown-item" href="#">Sold tickets</a>
                        <a class="dropdown-item" href="#">Income report</a>
                      </div>
                  </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" (click)="logOut()">Logout</button>
            </li>
        </ul>
    </div>
</nav>

<div  *ngIf="destinationClicked">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="newDestinationClicked()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
    <app-destinations *ngIf="destinationClicked"></app-destinations>
</div>
<div [hidden]="flightClicked">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="newFlightClicked()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
    <app-flight-info></app-flight-info>
</div>
<div [hidden]="flightsClicked">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="getAllFlights()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
    <app-available-flight></app-available-flight>
</div>

<div class="container" style="display: flex; justify-content: center; align-items: center;" *ngIf="baggageClicked">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                <form [formGroup]="baggageForm" (ngSubmit)="baggageSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                    <label for="code" class="col-4 col-form-label">Carry on price</label> 
                    <input type="number" class="form-control" placeholder="Price of carry on" formControlName="carryOnPrice">
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                    <label for="code" class="col-4 col-form-label">Duffel price</label> 
                    <input type="number" class="form-control" placeholder="Price of duffel" formControlName="duffelPrice">
                    </div>
                    </div>
                    <div class="form-group row">
                        
                    <button type="submit" class="btn btn-outline-primary" style="display: flex; justify-content: center; align-items: center;">{{luggageButton}}</button>
                        </div>
                    

                </form>
            </div>
            </div>
            </div>
        </div>
        <span style="font-size: 30px; font-family:fantasy; margin-left: 50px; display: flex; justify-content: center; align-items: center;">Luggage info</span>
        <span style="font-size: 20; font-family:fantasy; margin-left: 50px; color: blue;">
        <br>You can add informations about the price of carry on and duffel bag. Beneath are informations about said prices for your company. If you click on them you can change them.
        </span>
        <table class="table table-hover" style="background-color: rgba(255, 255, 255, .65);">
        <thead>
            <tr>
            <th>#</th>
            <th scope="col">Price carry on</th>
            <th scope="col">Price duffel</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let lugg of luggages'>
            <th scope="row">{{lugg.id}}</th>
            <td>{{lugg.carryOnPrice}}</td>
            <td>{{lugg.duffelPrice}}</td>
            <td>
                <button class="btn btn-outline-primary" (click)="changeLugg(lugg.id)">
                    <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                      </svg>
                </button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    
</div>