<nav class="navbar  navbar-expand-lg navbar-light" style="background-color: rgb(210, 216, 245);">
    <span class="navbar-text mr-sm-3" style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(51, 51, 226)">System administrator</span>
    <a class = "ml-sm-2 mr-sm-3" href="#" >
      <img src="assets/images/logo1.png" class="rounded-circle" height="90px" width="90px">
  </a>
    <button type="button" class="btn btn-outline-primary ml-sm-3 mr-sm-4" routerLink = "/userInfo">User profile</button>
    <button type="button" class="btn btn-outline-primary ml-sm-3 mr-sm-5" routerLink = "/registration">New Company</button>
    <button type="button" class="btn btn-outline-primary mr-auto" routerLink = "/addAdmin-path">Add admin</button>
    <div>
  
      <button type="button" class="btn btn-dark" routerLink="/home">Log out</button>
    </div>
  </nav>