<div class= "signup-form">

    <button type="button" style="background-color: white;" aria-label="Close" routerLink="/carSeviceView">
      <img src="assets/images/back.png" height="25px" width="25px">            
    </button>
    <form class="form-inline " [formGroup]="availableCarsForm" (ngSubmit)="onSearchAvailableCars()">
      
        <div class="form-group" style="padding-left: 1em;">
            <label style="padding-left: 10px;">Category: </label>
            <select id="kategorija"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="kategorija" [ngClass]="{ 'is-invalid': submitted && f.kategorija.errors }">
                <option value="Mark">Mark</option>
                <option value="Seat">Seat</option>
                <option value="Bags">Bags</option>
            </select>
            
          <div *ngIf="submitted && f.kategorija.errors" class="invalid-feedback">
          </div>
            <input class="form-control" type="text" placeholder="search" formControlName="search" aria-label="Search" [ngClass]="{ 'is-invalid': submitted && f.search.errors }">
            <div *ngIf="submitted && f.search.errors" class="invalid-feedback">
            </div>
            <button  type="submit">
                <img src="assets/images/search.png" height="30px" width="30px" data-holder-rendered="true">
            </button>
        </div>
    </form>
  
        <table class="table table-bordered table-light" >
            <thead>
              <tr>
                <th></th>
                <th scope="col">Mark</th>
                <th scope="col">Year of production</th>
                <th scope="col">Fuel</th>
                <th scope="col">Gearshift</th>
                <th scope="col">Seat</th>
                <th scope="col">Door</th>
                <th scope="col">Air conditioning</th>
                <th scope="col">Bags</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let comp of availableCars">
                <td>
                  <img src="{{comp.image}}" height="55px" width="85px" data-holder-rendered="true">
                </td>
                <td>{{comp.mark}}</td>
                <td>{{comp.yearProduction}}</td>
                <td>{{comp.fuel}}</td>
                <td>{{comp.gearshift}}</td>
                <td>{{comp.seat}}</td>
                <td>{{comp.door}}</td>
                <td>{{comp.airConditioning}}</td>
                <td>{{comp.bags}}</td>
              </tr>
            </tbody>
          </table>  
    </div>