
<div class= "signup-form">

    <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);" > 
        <thead>
            <tr>
            <th scope="col">Name of service</th>
            <th scope="col">Location</th>
            <th scope="col">Rating</th>
            <th>Book a car</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of branchPom">
            <td>{{comp.name}}</td>
            <td>{{comp.address}}</td>
           <td>
                <ngb-rating [(rate)]="comp.rating" readonly="readonly" max="5" style="color: yellow; font-size: x-large;"></ngb-rating> <span>&nbsp;&nbsp;&nbsp;&nbsp;({{comp.rating}}/5)</span>
            </td>
            <td>
                <button class="btn btn-outline-info" style="background-color: white" routerLink="/{{comp.id}}/availableCars">
                        <img src="assets/images/car.png" data-holder-rendered="true" height="25px" width="25px" >                  
                </button>
            </td>
            </tr>
        </tbody>
        </table>

</div>

