
<div class= "signup-form">

    <button type="button" style="background-color: white;" aria-label="Close" routerLink="/mainPage">
        <img src="assets/images/back.png" height="25px" width="25px">            
      </button>

    <form class="form-inline " [formGroup]="searchCompanyForm" (ngSubmit)="onSearchCompany()">
        <div class="md-form my-0">
            <select id="serviceName"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="serviceName" >
                <option></option>
                <option *ngFor="let select of listCompany">
                      {{select.name}}
                </option>
            </select>
            <select id="location"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="location" >
                <option></option>
                <option *ngFor="let select of listCities">
                      {{select.city}}
                </option>
            </select>         
        </div>
        <button  type="submit">
            <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
        </button>
    </form>

    <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);" > 
        <thead>
            <tr>
            <th scope="col">Name of service</th>
            <th scope="col">Location</th>
            <th scope="col">Address</th>
            <th scope="col">Rating</th>
            <th>Cars</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of branchPom">
            <td>{{comp.name}}</td>
            <td>{{comp.city}}</td>
            <td>{{comp.address}}</td>
           <td>
                <ngb-rating [(rate)]="comp.rating" readonly="readonly" max="5" style="color: yellow; font-size: x-large;"></ngb-rating> <span>&nbsp;&nbsp;&nbsp;&nbsp;({{comp.rating}}/5)</span>
            </td>
            <td>
                <button class="btn btn-outline-info" style="background-color: white" routerLink="/{{comp.idCompany}}/availableCars">
                        <img src="assets/images/car.png" data-holder-rendered="true" height="25px" width="25px" >                  
                </button>
            </td>
            </tr>
        </tbody>
        </table>

</div>

