<div class= "signup-form">
<button type="button" class="btn btn-outline-primary" style="background-color: white;" aria-label="Close" (click)="goBack()">
    <img src="assets/images/back.png" height="25px" width="25px">   
    <img src="assets/images/logo1.png" class="rounded-circle mr-auto" data-holder-rendered="true" height="45px" width="45px">         
</button>

<div class="container">
<form class="form-inline " [formGroup]="searchFriendsForm" (ngSubmit)="onSearchFriends()">
    <div class="md-form my-0">
      <input class="form-control" type="text" placeholder="First Name" formControlName="firstName" aria-label="Search">
      <input class="form-control" type="text" placeholder="Last Name" formControlName= "lastName" aria-label="Search">
    </div>
    <button  type="submit" class="btn btn-outline-primary">
        <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
    </button>
    
</form>
<button style="align-content: right;" class="btn btn-outline-primary" (click)="myRequests()">Requests</button>
</div>


<table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);" > 
    
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th></th>
    </tr>
</thead>
<tbody *ngIf="searched">
    <tr *ngFor="let friend of friends">
        <th>{{friend.firstName}}</th>
        <th>{{friend.lastName}}</th>
        <th>{{friend.city}}</th>
        <!-- <th *ngIf="!searched"><button class="btn btn-outline-primary" >Remove</button></th> -->
        <th ><button class="btn btn-outline-primary" (click)="addFriend(friend.id)">Add</button></th>
    </tr>
</tbody>
<tbody *ngIf="requested">
    <tr *ngFor="let friend of friends">
        <th>{{friend.firstName}}</th>
        <th>{{friend.lastName}}</th>
        <th>{{friend.city}}</th>
        <th ><button class="btn btn-outline-primary" (click)="acceptFriend(friend.id)">Accept</button></th>
        <!-- <th *ngIf="searched"><button class="btn btn-outline-primary" (click)="addFriend(friend.id)">Add</button></th> -->
    </tr>
</tbody>
<tbody *ngIf="nothing">
    <tr *ngFor="let friend of friends">
        <th>{{friend.firstName}}</th>
        <th>{{friend.lastName}}</th>
        <th>{{friend.city}}</th>
        <!-- <th ><button class="btn btn-outline-primary" (click)="acceptFriend(friend.id)">Accept</button></th> -->
        <!-- <th *ngIf="searched"><button class="btn btn-outline-primary" (click)="addFriend(friend.id)">Add</button></th> -->
    </tr>
</tbody>

</table>





</div>
