<nav class="navbar navbar-light" style="background-color: rgb(210, 216, 245);">
    <a class="navbar-brand" routerLink=""><img src="assets/images/logo1.png" class="rounded-circle" data-holder-rendered="true" height="45px" width="45px"></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
      <input type="password" class="form-control mr-sm-2" placeholder="Password">
      <a class="btn btn-outline-light my-2 my-sm-0" type="submit" >Log in</a>
      <a class="btn btn-outline-light my-2 my-sm-0" type="btn" >Register</a>
    </form>
  </nav>
  
  
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 40vh">
    <div>
      <img src="assets/images/logo1.png" class="rounded-circle" data-holder-rendered="true">
    </div>
  </div>
  <div style="display: flex; justify-content: center;" class="container">
  
      <button type="button" class="btn btn-outline-primary"  style="width: 200px; text-decoration-color: rgb(4, 4, 59);">Avionske kompanije</button>
      <button type="button" class="btn btn-outline-primary" style= "margin-left: 70px; width: 200px; text-decoration-color: rgb(4, 4, 59);">Rent-a-car servisi</button>
  </div>