<div class= "signup-form">

    <button type="button" style="background-color: white;" aria-label="Close" routerLink="/aircompanyService">
      <img src="assets/images/back.png" height="25px" width="25px">            
    </button>
  
    <form class="form-inline ">
        <div class="md-form my-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button  type="submit">
            <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
        </button>
    </form>
  
        <table class="table table-bordered table-dark" >
            <thead>
              <tr>
                <th>Id</th>
                <th scope="col">City of departure</th>
                <th scope="col">City of arrival</th>
                <th scope="col">Tak-off date and time</th>
                <th scope="col">Touchdown date and time</th>
                <th scope="col">Travel length</th>
                <th scope="col">Connections</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Belgrade</td>
                <td>Amsterdam</td>
                <td>15.4.2020. 13:30</td>
                <td>15.4.2020. 22:00</td>
                <td>1345Km</td>
                <td>0</td>
                <td>500€</td>
              </tr>
            </tbody>
          </table>  
    </div>