<div class= "signup-form">

    <button type="button" style="background-color: white;" aria-label="Close" routerLink="/aircompanyService">
      <img src="assets/images/back.png" height="25px" width="25px">            
    </button>
  
    <form class="form-inline ">
        <div class="md-form my-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button  type="submit">
            <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
        </button>
    </form>
  
        <table class="table table-bordered table-dark" >
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th scope="col">Code</th>
                <th scope="col">Mark</th>
                <th scope="col">Year of production</th>
                <th scope="col">Fuel</th>
                <th scope="col">Gearshift</th>
                <th scope="col">Seat</th>
                <th scope="col">Door</th>
                <th scope="col">Air conditioning</th>
                <th scope="col">Bags</th>
                <th scope="col">Price per day</th>
                <th scope="col">Hourly rent</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                
                <td>
                  <img src="assets/images/audi.jpg" height="55px" width="85px" data-holder-rendered="true">
                </td>
                <td>5554</td>
                <td>Audi A4</td>
                <td>2010.</td>
                <td>Disel</td>
                <td>Manual</td>
                <td>5</td>
                <td>4/5</td>
                <td>Yes</td>
                <td>2</td>
                <td>1200</td>
                <td>500</td>
              </tr>
            </tbody>
          </table>  
    </div>