<div class= "signup-form">

  <!-- <button type="button" style="background-color: white;" aria-label="Close" routerLink="/aircompanyService">
    <img src="assets/images/back.png" height="25px" width="25px">            
  </button> -->

  <form class="form-inline " [formGroup]="searchAvailableFlightsForm" (ngSubmit)="searchAvailableFlights()">
    <!-- <form class="form-inline " [formGroup]="searchAvailableCarsForm" (ngSubmit)="onSearchAvailableCars()"> -->
    
      <div class="form-group" style="padding-left: 1em;">
          <label >Flight date: </label>
          <pre style="padding-left: 10px;"></pre>
          <input type="datetime-local" 
                 id="startDay" 
                 max="3000-12-31" 
                 min="1000-01-01" 
                 class="form-control"
                 value="2020-06-13"
                 formControlName="startDay">
          <label style="padding-left: 10px;">Airport: </label>
          <select id="City1"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="Departure" >
              <option *ngFor="let dest of destinations">
                    {{dest.city}}
              </option>
          </select>
          <label style="padding-left: 10px;">Return date: </label>
          <pre style="padding-left: 10px;"></pre>
          <input type="datetime-local"
                 id="endDay" 
                 max="3000-12-31" 
                 min="1000-01-01" 
                 class="form-control"
                 value="2020-06-14 14:00"
                 formControlName="endDay">
          <label style="padding-left: 10px;">Airport: </label>
              <select id="City2"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="Arrival" >
                  <option *ngFor="let dest of destinations">
                      {{dest.city}}
                  </option>
              </select>
      </div>
      <div>
        <tr>
          <select class="form-control" type="text" placeholder="Mark" formControlName="Type" aria-label="Search">
            <option>Round_trip</option>
            <option>One Way</option>
  
          </select>
          <!-- <input class="form-control"  type="number" placeholder="Number of passengers" formControlName="Number" aria-label="Search"> -->
          <input class="form-control"  type="number" hidden formControlName="Aircompany" aria-label="Search">
          <button  type="submit" class="btn btn-outline-primary">
            <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
          </button>
        </tr>
      </div>
    <!-- </form> -->
      <!-- <button  type="submit">
          <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
      </button> -->
  </form>

      <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);">
          <thead>
            <tr>
              <th>Id</th>
              <th scope="col">City of departure</th>
              <th scope="col">City of arrival</th>
              <th scope="col">Tak-off date and time</th>
              <th scope="col">Touchdown date and time</th>
              <th scope="col">Travel length</th>
              <th scope="col">Connections</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of flights">
              <th scope="row">{{f.id}}</th>
              <td>{{f.departure}}</td>
              <td>{{f.arrival}}</td>
              <td>{{f.takeOff}}</td>
              <td>{{f.touchDown}}</td>
              <td>{{f.length}}Km</td>
              <td>{{f.numberOfConnections}}</td>
              <td *ngIf="admin">
                <button  class="btn btn-outline-primary" routerLink="/{{f.id}}/flightChange">
                <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                </svg>
              </button>
              </td>
              <td>
                <button class="btn btn-outline-danger" (click)="deleteFlight(f.id)">
                  <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                  </svg>
                </button>
              </td>
              <td *ngIf="!admin">
                <button class="btn btn-outline-primary" routerLink="/{{f.id}}/bookFlight">Book</button>
              </td>
              <td *ngIf="admin">
                <button class="btn btn-outline-primary" routerLink="/{{f.id}}/quickreservations">Quick Reservations</button>
              </td>
              <td *ngIf="!admin">
                <button class="btn btn-outline-primary" (click)="showQuickReservations(f.id)">Quick reservation</button>
              </td>
            </tr>
          </tbody>
        </table>  
  </div>

  <div [hidden]="quickResClicked" class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-13">
        <div class="card">
            <div class="card-body">
              <div class="row" >
                <div class="col-md-13">
                    <div class="form-inline row">

                      <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);" > 
                
                        <thead>
                            <tr>
                              <th scope="col">Departure</th>
                              <th scope="col">Arrival</th>
                              <th scope="col">Take-off</th>
                              <th scope="col">Flight</th>
                              <th scope="col">Seat No.</th>
                              <th scope="col">Class</th>
                              <th scope="col">Price</th>
                              <th scope="col">Discount</th>
                              <th></th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let res of quickReservations">
                              <td>{{res.departure}}</td>
                              <td>{{res.arrival}}</td>
                              <td>{{res.takeOff}}</td>
                              <td>{{res.flightId}}</td>
                              <td>{{res.seatNo}}</td>
                              <td *ngIf="res.class === 0">First</td>
                              <td *ngIf="res.class === 1">Business</td>
                              <td *ngIf="res.class === 2">Economy</td>
                              <td>{{res.price}}</td>
                              <td>{{res.discount}}</td>
                              <td *ngIf="!res.reserved">
                                <button class="btn btn-outline-primary" (click)="bookQuickRes(res.id)">Book</button>
                              </td>
                            </tr>
                          </tbody>

                          </table>

                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
    