
<div class="container"><h1>First class seats:</h1></div>
<div class="container">
    <div *ngFor="let i of firstClass">
        <div *ngIf="i==4" style="display: inline;"></div>
    <span width="30px" style="float: left;">
        <div *ngIf="!i.Reserved ; then thenBlock1 else elseBlock1"></div>
        <ng-template #thenBlock1>
            
                <img src="../assets/images/chair.png"
                    class="rounded-circle"  id=z{{i}} width="30px" alt="reserved"  
                    data-toggle="tooltip" data-placement="right" title="reserved"
                    style="background-color: turquoise;" (click)="checkSeat(i.id)"  > &nbsp; {{i.Id}}
           
        </ng-template>
        <ng-template #elseBlock1>
            
                <img src="../assets/images/chair.png"
                    class="rounded-circle"  id={{i}} width="30px" alt="disabled"  
                    data-toggle="tooltip" data-placement="right" title="disabled"
                    style="background-color: gray;" >
            
        </ng-template>
    </span>
    </div>
</div>

<br>
<br>
<br>
<span class="container" style="display: flex;"><h1>Business class seats:</h1></span>
<div class="container">
    <div *ngFor="let i of businessClass">
        <div *ngIf="i==4" style="display: inline;"></div>
    <span width="30px" style="float: left;">
        <div *ngIf="!i.Reserved ; then thenBlock1 else elseBlock1"></div>
        <ng-template #thenBlock1>
           
                <img src="../assets/images/chair.png"
                    class="rounded-circle"  id=z{{i}} width="30px" alt="reserved"  
                    data-toggle="tooltip" data-placement="right" title="reserved"
                    style="background-color: yellowgreen;" (click)="checkSeat(i.id)"  > &nbsp; {{i.Id}}
            
        </ng-template>
        <ng-template #elseBlock1>
            
                <img src="../assets/images/chair.png"
                    class="rounded-circle"  id={{i}} width="30px" alt="disabled"  
                    data-toggle="tooltip" data-placement="right" title="disabled"
                    style="background-color: gray;" >
            
        </ng-template>
    </span>
    </div>
</div>


<br>
<br>
<br>
<span class="container" style="display: flex;"><h1>Economy class seats:</h1></span>
<div class="container">
    <div *ngFor="let i of economyClass">
        <div *ngIf="i==4" style="display: inline;"></div>
    <span width="30px" style="float: left;">
        <div *ngIf="!i.Reserved ; then thenBlock1 else elseBlock1"></div>
        <ng-template #thenBlock1>
            
                <img src="../assets/images/chair.png"
                    class="rounded-circle"  id=z{{i}} width="30px" alt="reserved"  
                    data-toggle="tooltip" data-placement="right" title="reserved"
                    style="background-color: yellow;" (click)="checkSeat(i.id)"  > &nbsp; {{i.Id}}
            
        </ng-template>
        <ng-template #elseBlock1>
            
                <img src="../assets/images/chair.png"
                    class="rounded-circle"  id={{i}} width="30px" alt="disabled"  
                    data-toggle="tooltip" data-placement="right" title="disabled"
                    style="background-color: gray;" >
            
        </ng-template>
    </span>
    </div>
</div>