<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Car model</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <form [formGroup]="changeCarForm" (ngSubmit)="onChangeCar()">
                        <div class="form-group row">
                          <label for="mark" class="col-4 col-form-label">Mark</label> 
                          <div class="col-8">
                            <input id="mark" name="mark" placeholder="Mark" formControlName="mark" class="form-control here" type="text" [ngClass]="{ 'is-invalid': submitted && f.mark.errors }">
                            <div *ngIf="submitted && f.mark.errors" class="invalid-feedback">
                              <div *ngIf="f.mark.errors.required">Mark is required</div>
                            </div>
                          </div>
                        </div>
                            <div class="form-group row">
                              <label for="yearProduction" class="col-4 col-form-label">Year of production</label> 
                              <div class="col-8">
                                <input id="yearProduction" name="yearProduction" formControlName="yearProduction" placeholder="Year of production" class="form-control here" type="number" required [ngClass]="{ 'is-invalid': submitted && f.yearProduction.errors }">
                                <div *ngIf="submitted && f.yearProduction.errors" class="invalid-feedback">
                                  <div *ngIf="f.yearProduction.errors.required">Year of production is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="fuel" class="col-4 col-form-label">Fuel</label> 
                              <div class="col-8">
                                <select id="fuel"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="fuel" [ngClass]="{ 'is-invalid': submitted && f.fuel.errors }">
                                  <option value="Diesel">Diesel</option>
                                  <option value="Gas">Gas</option>
                                  <option value="Petrol">Petrol</option>
                                </select>
                                <div *ngIf="submitted && f.fuel.errors" class="invalid-feedback">
                                  <div *ngIf="f.fuel.errors.required">Fuel is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="gearshift" class="col-4 col-form-label">Gearshift</label> 
                              <div class="col-8">
                                <select id="gearshift"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="gearshift" [ngClass]="{ 'is-invalid': submitted && f.gearshift.errors }">
                                  <option value="Manual">Manual</option>
                                  <option value="Automatic">Automatic</option>
                                </select>
                                <div *ngIf="submitted && f.gearshift.errors" class="invalid-feedback">
                                  <div *ngIf="f.gearshift.errors.required">Gearshift is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="seat" class="col-4 col-form-label">Seat</label> 
                              <div class="col-8">
                                <input id="seat" name="seat" placeholder="Seat" formControlName="seat" class="form-control here" type="number" required [ngClass]="{ 'is-invalid': submitted && f.seat.errors }">
                                <div *ngIf="submitted && f.seat.errors" class="invalid-feedback">
                                  <div *ngIf="f.seat.errors.required">Seat is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="door" class="col-4 col-form-label">Door</label> 
                              <div class="col-8">
                                <input id="door" name="door" placeholder="Door" formControlName="door" class="form-control here" type="number" required [ngClass]="{ 'is-invalid': submitted && f.door.errors }">
                                <div *ngIf="submitted && f.door.errors" class="invalid-feedback">
                                  <div *ngIf="f.door.errors.required">Door is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="airConditioning" class="col-4 col-form-label">Air conditioning</label> 
                              <div class="col-8">
                                <select id="airConditioning"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="airConditioning" [ngClass]="{ 'is-invalid': submitted && f.airConditioning.errors }">
                                  <option value="Yes">Yes</option>
                                  <option value="No">No</option>
                                </select>
                                <div *ngIf="submitted && f.airConditioning.errors" class="invalid-feedback">
                                  <div *ngIf="f.airConditioning.errors.required">AirConditioning is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="bags" class="col-4 col-form-label">Bags</label> 
                              <div class="col-8">
                                <input id="bags" name="bags" formControlName="bags" placeholder="Bags" class="form-control here" type="number" required [ngClass]="{ 'is-invalid': submitted && f.bags.errors }">
                                <div *ngIf="submitted && f.bags.errors" class="invalid-feedback">
                                  <div *ngIf="f.bags.errors.required">Bags is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="rentPerDay" class="col-4 col-form-label">Rent per day</label> 
                              <div class="col-8">
                                <input id="rentPerDay" name="rentPerDay" placeholder="Rent per day" formControlName="rentPerDay" class="form-control here" type="number" [ngClass]="{ 'is-invalid': submitted && f.rentPerDay.errors }">
                                <div *ngIf="submitted && f.rentPerDay.errors" class="invalid-feedback">
                                  <div *ngIf="f.rentPerDay.errors.required">RentPerDay is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="color" class="col-4 col-form-label">
                                <svg class="bi bi-image" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 00-1 1v10a1 1 0 001 1h12a1 1 0 001-1V3a1 1 0 00-1-1zm-12-1a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V3a2 2 0 00-2-2h-12z" clip-rule="evenodd"/>
                                  <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
                                  <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>
                                </svg>
                              </label> 
                              <div class="col-8">
                                  <input type="file" name="imageCar" formControlName="imageCar" class="form-control-file" [ngClass]="{ 'is-invalid': submitted && f.imageCar.errors }">
                                  <div *ngIf="submitted && f.imageCar.errors" class="invalid-feedback">
                                    <div *ngIf="f.imageCar.errors.required">ImageCar is required</div>
                                  </div>
                                </div>
                            </div>
                              <div>
                                <button type="submit" class="btn btn-secondary btn-lg btn-block">Change</button>
                              </div>
                          </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>