<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Car model</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                          <div class="form-group row">
                            <label for="mark" class="col-4 col-form-label">Mark</label> 
                            <div class="col-8">
                              <input id="mark" name="mark" placeholder="Mark" class="form-control here" type="text">
                            </div>
                          </div>
                              <div class="form-group row">
                                <label for="yearProduction" class="col-4 col-form-label">Year of production</label> 
                                <div class="col-8">
                                  <input id="yearProduction" name="yearProduction" placeholder="Year of production" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="fuel" class="col-4 col-form-label">Fuel</label> 
                                <div class="col-8">
                                  <input id="fuel" name="fuel" placeholder="Fuel" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="gearshift" class="col-4 col-form-label">Gearshift</label> 
                                <div class="col-8">
                                  <input id="gearshift" name="gearshift" placeholder="Gearshift" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="seat" class="col-4 col-form-label">Seat</label> 
                                <div class="col-8">
                                  <input id="seat" name="seat" placeholder="Seat" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="door" class="col-4 col-form-label">Door</label> 
                                <div class="col-8">
                                  <input id="door" name="door" placeholder="Door" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="airConditioning" class="col-4 col-form-label">Air conditioning</label> 
                                <div class="col-8">
                                  <input id="airConditioning" name="airConditioning" placeholder="Air conditioning" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="color" class="col-4 col-form-label">Image</label> 
                                <div class="col-8">
                                    <input type="file" class="form-control-file">
                                </div>
                              </div>
                                <div>
                                  <button type="button" class="btn btn-secondary btn-lg btn-block">Add</button>
                                </div>
                            </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>