<nav class="navbar  navbar-expand-lg navbar-light" style="background-color: rgb(210, 216, 245);">
    <span class="navbar-text mr-sm-5" style="font-size: 25px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(51, 51, 226)">Rent-a-car admin</span>
    <button type="button" class="btn btn-outline-primary  mr-sm-2 ml-sm-3">User profile</button>
    <button type="button" class="btn btn-outline-primary mr-sm-2">Page profile</button>
    <div class="dropdown mr-sm-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Car occupation report</a>
          <a class="dropdown-item" href="#">Business report</a>
          <a class="dropdown-item" href="#">Service rating</a>
          <a class="dropdown-item" href="#">Car rating</a>
          <a class="dropdown-item" href="#">Income report</a>
        </div>
    </div>
    <div class="dropdown mr-auto">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Add car</a>
          <a class="dropdown-item" href="#">Change car</a>
          <a class="dropdown-item" href="#">Pricelist</a>
        </div>
    </div>
    <div>
      <button type="button" class="btn btn-dark" routerLink="content">Log out</button>
    </div>
</nav>