<div class= "signup-form">

  <button type="button" style="background-color: white;" aria-label="Close" routerLink="/rentACarServices">
    <img src="assets/images/back.png" height="25px" width="25px">            
  </button>

  <form class="form-inline " [formGroup]="searchAvailableCarsForm" (ngSubmit)="onSearchAvailableCars()">
      
    <div class="form-group" style="padding-left: 1em;">
        <label >Pick-up date: </label>
        <pre style="padding-left: 10px;"></pre>
        <input type="datetime-local" 
               id="startDay" 
               max="3000-12-31" 
               min="1000-01-01" 
               class="form-control"
               value="2020-06-13"
               formControlName="startDay">
        <label style="padding-left: 10px;">City: </label>
        <select id="City1"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="City1" >
            <option *ngFor="let select of selectedCities">
                  {{select.city}}
            </option>
        </select>
        <label style="padding-left: 10px;">Drop-off date: </label>
        <pre style="padding-left: 10px;"></pre>
        <input type="datetime-local"
               id="endDay" 
               max="3000-12-31" 
               min="1000-01-01" 
               class="form-control"
               value="2020-06-14 14:00"
               formControlName="endDay">
        <label style="padding-left: 10px;">City: </label>
            <select id="City2"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="City2" >
                <option *ngFor="let select of selectedCities">
                    {{select.city}}
                </option>
            </select>

    </div>


    <div>
      <tr>
        <input class="form-control" type="text" placeholder="Mark" formControlName="Mark" aria-label="Search">

        <input class="form-control"  type="text" placeholder="Number of passengers" formControlName="Number" aria-label="Search">
        <button  type="submit">
          <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
        </button>
      </tr>
    </div>
  </form>

      <table class="table table-bordered table-dark" >
          <thead>
            <tr>
              <th></th>
              <th scope="col">Mark</th>
              <th scope="col">Year of production</th>
              <th scope="col">Fuel</th>
              <th scope="col">Gearshift</th>
              <th scope="col">Seat</th>
              <th scope="col">Door</th>
              <th scope="col">Air conditioning</th>
              <th scope="col">Bags</th>
              <th scope="col">Status</th>
              <th scope="col">Price</th>
              <th scope="col">Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let comp of carsList">
              <td>
                <img src="{{comp.image}}" height="55px" width="85px" data-holder-rendered="true">
              </td>
              <td>{{comp.mark}}</td>
              <td>{{comp.yearProduction}}</td>
              <td>{{comp.fuel}}</td>
              <td>{{comp.gearshift}}</td>
              <td>{{comp.seat}}</td>
              <td>{{comp.door}}</td>
              <td>{{comp.airConditioning}}</td>
              <td>{{comp.bags}}</td>
              <td>{{comp.status}}</td>
              <td>{{comp.price}}</td>
              <td>
                <ngb-rating [(rate)]="comp.rating" readonly="readonly" max="5" style="color: yellow; font-size: x-large;"></ngb-rating> <span>&nbsp;&nbsp;&nbsp;&nbsp;({{comp.rating}}/5)</span>
            </td>
              <td>
                <div>
                  <button type="button"  style="color: red;" (click)="newReservation(comp.id)">Make a rezervation</button>
                </div>
                  
              </td>
            </tr>
          </tbody>
        </table>  
  </div>