<div class= "signup-form">

  <button type="button" style="background-color: white;" aria-label="Close" routerLink="/rentACarServices">
    <img src="assets/images/back.png" height="25px" width="25px">            
  </button>

  <form class="form-inline ">
    <div class="md-form my-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <button  type="submit">
        <img src="assets/images/search.png" height="35px" width="35px" data-holder-rendered="true">
    </button>
  </form>

      <table class="table table-bordered table-dark" >
          <thead>
            <tr>
              <th></th>
              <th scope="col">Code</th>
              <th scope="col">Mark</th>
              <th scope="col">Year of production</th>
              <th scope="col">Fuel</th>
              <th scope="col">Gearshift</th>
              <th scope="col">Seat</th>
              <th scope="col">Door</th>
              <th scope="col">Air conditioning</th>
              <th scope="col">Bags</th>
              <th scope="col">Price per day</th>
              <th scope="col">Hourly rent</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let comp of carsList">
              <th scope="row">{{comp.id}}</th>
              
              <td>
                <img src="{{comp.image}}" height="55px" width="85px" data-holder-rendered="true">
              </td>
              <td>{{comp.code}}</td>
              <td>{{comp.mark}}</td>
              <td>{{comp.yearOfProduction}}</td>
              <td>{{comp.fuel}}</td>
              <td>{{comp.gearshift}}</td>
              <td>{{comp.seat}}</td>
              <td>{{comp.door}}</td>
              <td>{{comp.airConditioning}}</td>
              <td>{{comp.bags}}</td>
              <td>{{comp.rentPerDay}}</td>
              <td>{{comp.hourlyRent}}</td>
            </tr>
          </tbody>
        </table>  
  </div>