<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(210, 216, 245); height: 100px;">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav text-center nav-fill w-100">
            <li class="nav-item active">
                <button type="button" class="btn btn-info" routerLink="/userInfo">User profile</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary ml-auto" (click)="flightClicked()">Book flight</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" (click)="flightReservationsClicked()" >Cancel flight</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" (click)="aircompanyClicked()">Rate aircompany</button>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="assets/images/logo1.png" class="rounded-circle ml-sm-2 mr-sm-2" height="90px" width="90px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav ml-auto text-center nav-fill w-100">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" (click)="carClicked()">Rent car</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary" (click)="carReservationClicked()">Cancel car</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary mr-auto" (click)="carcompanyClicked()">Rate car company</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/">Logout</button>
            </li>
        </ul>
    </div>
</nav>

<div [hidden]="bookFlight">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="flightClicked()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
    <app-aircompany-service></app-aircompany-service>
</div>

<div [hidden]="aircompany">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="aircompanyClicked()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
    <app-aircompany-service></app-aircompany-service>
</div>

<div [hidden]="rentCar">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="carClicked()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
      <app-rent-a-car-services></app-rent-a-car-services>
</div>

<div [hidden]="carcompany">
    <button type="button" class="close mr-sm-5" data-dismiss="alert" aria-label="Close" (click)="carcompanyClicked()">
        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
      </button>
      <app-rate-acar></app-rate-acar>
</div>

<div [hidden]="flightReservations" class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-inline row">
                            <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);" > 
                
                                <thead>
                                    <tr>
                                        <th>Date of departure:</th>
                                        <th>From:</th>
                                        <th>To:</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let res of myReservations">
                                        <th>{{res.departureDate}}</th>
                                        <th>{{res.from}}</th>
                                        <th>{{res.to}}</th>
                                        <td *ngIf="res.canBeErased"><button class="btn btn-outline-danger" (click)="cancelFlight(res.idReservation)">Cancel</button></td>
                                    </tr>

                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div [hidden]="carReservations" class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row" >
                    <div class="col-md-12">
                        <div class="form-inline row">       
                        
                            <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, .65);">
                                <thead>
                                <tr>
                                    <th scope="col">Start day</th>
                                    <th scope="col">End day</th>
                                    <th scope="col">Service name</th>
                                    <th scope="col">Car</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor="let comp of myCarReservations">
                                    <td>{{comp.startDay}}</td>
                                    <td>{{comp.endDay}}</td>
                                    <td>{{comp.serviceName}}</td>
                                    <td>{{comp.vehicle}}</td>
                                    <td>
                                    <div>
                                        <button type="button" class="btn btn-outline-danger" (click)="cancelCar(comp.id)">Cancel</button>
                                    </div>
                                        
                                    </td>
                                </tr>
                                </tbody>
                            </table>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
