<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(210, 216, 245); height: 100px;">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav text-center nav-fill w-100">
            <li class="nav-item active">
                <button type="button" class="btn btn-info" routerLink="/userInfo">User profile</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary ml-auto">Book flight</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary">Cancel flight</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary">Rate aircompany</button>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="assets/images/logo1.png" class="rounded-circle ml-sm-2 mr-sm-2" height="90px" width="90px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav ml-auto text-center nav-fill w-100">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary">Rent car</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary">Cancel car</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary mr-auto">Rate car company</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/">Logout</button>
            </li>
        </ul>
    </div>
</nav>