<div class="signup-form">
    <form [formGroup]="addBranchOfficeForm" (ngSubmit)="onBranchOffice()">
    <h2>Branch Office</h2>
        <div class="form-group">
            <input type="text" class="form-control" name="city" placeholder="City" formControlName = "city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">City is required</div>
            </div>
          </div>        
        <div class="form-group">
          <input type="text"  class="form-control" name="address" placeholder="Address" formControlName = "address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>   
       <div class="form-group">
         <input type="number" required class="form-control" name="telephone" placeholder="Telephone" formControlName = "telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }">
         <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
          <div *ngIf="f.telephone.errors.required">Phone number is required</div>
        </div>
        </div>   
      <div class="form-group">
        <button type="submit" type="submit" class="btn btn-secondary btn-lg btn-block">Add</button>
      </div>
    </form>
  </div>