<div class="signup-form">
    <form [formGroup]="priceForm" (ngSubmit)="addPrice()">
    <h2>Add price</h2>
        <div class="form-group">
          <div class="row">
           
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" name="priceDay" placeholder="Price per day" formControlName="priceDay">
          </div>
        </div>   
        <div class="form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" name="priceHour" placeholder="Hourly rent" formControlName="priceHour">
          </div>
        </div>   
        <div>
          <button type="submit" class="btn btn-secondary btn-lg btn-block">Add</button>
        </div>
  </div>