<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th></th>
        <th scope="col">Mark</th>
        <th scope="col">Year of production</th>
        <th scope="col">Fuel</th>
        <th scope="col">Gearshift</th>
        <th scope="col">Seat</th>
        <th scope="col">Door</th>
        <th scope="col">Air conditioning</th>
        <th scope="col">Bags</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <img src="assets/images/audi.jpg" height="55px" width="85px" data-holder-rendered="true">
        </td>
        <td>Audi A4</td>
        <td>2010.</td>
        <td>Disel</td>
        <td>Manual</td>
        <td>5</td>
        <td>4/5</td>
        <td>Yes</td>
        <td>2</td>
        <td>
          <button class="btn btn-primary">Change</button>
          
        </td>
        <td>
          <button class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>