/* You can add global styles to this file, and also import other style files */
body{
    padding-bottom: 70px;
    background-image: url(assets/images/sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



