<div class="signup-form">
    <form [formGroup]="ratingForm" (ngSubmit)="onRating()">
    <h2>Rating</h2>
        <div class="form-group">
          <label>Service rating</label>
          <select id="serviceRating" name="serviceRating"  class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="serviceRating" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>   
        <div class="form-group">
          <label>Vehicle rating</label>
          <select id="vehicleRating"   class="form-control" size="1" style="size: initial; padding-left: 10px;" formControlName="vehicleRating" >
            <option value="1" >1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
    
  <div class="text-center">
    <button type="submit">Add</button>
  </div>
</form>
</div>