<div class="signup-form">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegistration()">
    <h2>Registration</h2>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline1" name="company" formControlName = "company">
      <label class="custom-control-label" for="defaultInline1">Rent-a-car</label>
    </div>
    
    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline1" name="company" formControlName = "company">
      <label class="custom-control-label" for="defaultInline2">Aircompany</label>
    </div>
  
        <div class="form-group">
          <input type="text" class="form-control" name="nameServiceRegistration" placeholder="Name of service" formControlName = "registrationNameService">
        </div>   
        <p>ADMINISTRATOR</p>
        <div class="form-group">
            <input type="email" class="form-control" name="emailRegistration" placeholder="Email" formControlName = "registrationEmail">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="firstNameRegistration" placeholder="First Name" formControlName = "registrationFirstName">
        </div>        
        <div class="form-group">
          <input type="text" class="form-control" name="lastNameRegistration" placeholder="Last Name" formControlName = "registrationLastName">
        </div>   
       <div class="form-group">
         <input type="text" class="form-control" name="cityRegistration" placeholder="City" formControlName = "registrationCity">
        </div>   
        <div class="form-group">
          <input type="password" class="form-control" name="passwordRegistration" placeholder="Password" formControlName = "registrationPassword">
        </div>   
        <div class="form-group">
          <input type="password" class="form-control" name="confirm_passwordRegistration" placeholder="Confirm Password" formControlName = "registrationConfirmPassword">
        </div>  
      <div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Add</button>
      </div>
    </form>
  </div>